<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CavaBackup.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CavaBackup.Settings>
            <setting name="DefaultBackupLocation" serializeAs="String">
                <value>C:/Backups</value>
            </setting>
            <setting name="OpenBackupLocation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FolderToBackup" serializeAs="String">
                <value>C:/</value>
            </setting>
            <setting name="Nickname" serializeAs="String">
                <value>CDrive</value>
            </setting>
            <setting name="CompressBackups" serializeAs="String">
                <value>False</value>
            </setting>
        </CavaBackup.Settings>
    </userSettings>
</configuration>